body {
    background-color: black;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 440px; /* Adjust width to fit 20px squares with margins */
    margin: 0 auto; /* Center the board */
}

.square {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgb(29, 29, 29);
    margin: 2px;
    transition: background-color 1s; /* Smooth transition for background color */
}

.square:hover {
    background-color: red;
    cursor: pointer;
}